<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Network</title>
    </head>
    <body>
        {% extends 'base.html' %}
      {% block content %}
    <div class="home-content">
        <h1>Welcome to TheNetwork</h1>
        <p>The home for actors and casting directors to connect and collaborate on projects.</p>
    </div>
      {% endblock %}
    </body>
</html>