{% extends 'base.html' %}

{% block content %}
<div class="detail__img">
    <img src="{{castingdirector.img}}" alt="{{castingdirector.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{castingdirector.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'casting_director_update' castingdirector.pk %}" class="button is-info"> 
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'casting_director_delete' castingdirector.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__projects mb-5">
        <h3 class="title is-3">Projects:</h3>
            <form class="mb-5" action="{% url 'project_create' castingdirector.pk %}" method="post">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="title"
                            placeholder="Title"
                            required
                        />
                    </div>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="type"
                            placeholder="Type"
                            required
                        />
                    </div>
                    <div class="control">
                        <input class="button is-primary" type="submit" value="Add Project" />
                    </div>
                </div>
            </form>

        {% for project in castingdirector.projects.all %}
        <div class="project">
          <span>{{forloop.counter}}</span>
          <span><b>
            <a href="{% url 'project_detail' project.pk %}">{{project.title}}</a>
            </b></span>
          <span>{{project.type}}</span>
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Projects Available</p>
          </div>
        </article>
    
        {% endfor %}
      </div>
    <div class="detail__about">
        <h4 class="title is-4">Bio:</h4>
        <p>{{castingdirector.bio}}</p>
    </div>
</div>

{% endblock %}