<!DOCTYPE html>
<html lang="en">
    <main>
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TheNetwork</title>
    </head>
    <body>
      {% extends 'base.html' %}
      {% block content %}
      <h1>Welcome to TheNetwork</h1>
      <p>The home for actors and casting directors to connect and get collaborating on projects.</p>
      {% endblock %}
    </body>
  </main>
</html>