<!DOCTYPE html>
    <main>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>The Network</title>
    </head>
    <body>
        {% extends 'base.html' %}
      {% block content %}
      <h1>Your Profile</h1>
      <a>Item 1</a></br>
      <a>Item 2</a></br>
      <a>Item 3</a></br>
      <a>Item 4</a></br>
      {% endblock %}
    </body>
</html>
</main>